#root {
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./img/fabric_black.jpg);
  /* 그레이 필터 적용했으나 맨 윗층에 필터가
   적용되서 모든 색이 컴포넌트 색이 필터링 되어 취소함. 
   이미지를 직접 편집하여 효과 적용함.
   */
  flex-direction: column;
}

.clock {
  color: #e8e8e8;
  font-size: 25px;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 40vh;
}

.inputDiv {
  margin: 20px;
}

.inputTag {
  margin-right: 10px;
  border: none;
  border-bottom: solid 2px #e8e8e8;
  text-align: center;
  background: none;
  color: #e8e8e8;
  padding: 5px;
}

::placeholder {
  color: #e8e8e8;
}

input:focus {
  outline: none;
}

.itemList {
  margin: 10px;
  color: #e8e8e8;
}

.rmNextItem {
  margin-left: 10px;
  border: none;
  background: none;
}

.addBt {
  background: none;
  border: 2px solid #e8e8e8;
  color: #e8e8e8;
}

ul {
  margin-right: 15px;
}
